body {
  background-color: #f6f6f6;
  font-family: "Open Sans", "Lucida Grande", tahoma, verdana, arial, sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 500px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  margin: auto;
  margin-top: 100px;
}

.list-div {
  width: 100%;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
}

#main-list li {
  position: relative;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid rgb(0 0 0 / 8%);
  font-weight: 300;
}

#main-list li:hover {
  background-color: lightyellow;
}

.clear-link-container {
  text-align: center;
}

.list-div > input,
.input-description {
  border: none;
  background-color: rgb(255 255 255 / 0%);
}

.input-description {
  font-size: 1rem;
}

::placeholder,
.input-description:focus {
  font-style: italic;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  font-size: 20px;
}
